<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div>
    {control menu}
</div>
<div>
    {include content}
</div>

{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}
</body>
</html>
